wget
torch==2.1.2
librosa
gradio
spleeter
Cython
madmom
torchaudio
einops
pyyaml
numpy
pandas
scikit-learn
pydub
opencv-python
omegaconf
wandb
seaborn
matplotlib
-r dependencies/diffusers/examples/controlnet/requirements.txt
-e dependencies/diffusers
-e dependencies/ytmdl