wget
librosa
gradio
spleeter
Cython
madmom
torchaudio
einops
pyyaml
numpy
pandas
scikit-learn
pydub
opencv-python
omegaconf
-r dependencies/diffusers/examples/controlnet/requirements.txt
-e dependencies/diffusers
-e dependencies/ytmdl
-e dependencies/musicnn